<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.xin.db.entity"/>
    </typeAliases>
    <mappers>
        <mapper resource="src/main/java/com/xin/db/mapper/TLoginUserMapper.xml"/>
    </mappers>
</configuration>